*.json  text
*.xml   text
*.php   text
*.LGPL  text
*.md    text
*.skel  text
*.css   text
*.inc   text
*.js    text
*.html  text
*.txt   text
*.svg   text

/.github            export-ignore
/.gitattributes     export-ignore
/.gitignore         export-ignore
/SECURITY.md        export-ignore
/phpunit.xml.dist   export-ignore
/sample-fonts       export-ignore
/tests              export-ignore
