body {
	font-size: 12px;
	font-family: tahoma, verdana, arial, sans-serif;
	margin: 0.5em;
}

ul {
	list-style-position: inside;
	padding-left: 0.4em;
}

pre {
	font-size: 11px;
}

h2 {
	border-bottom: 1px solid #ccc;
}

hr {
	clear: both;
}
